@import "../../../theme.scss"; // Uistite sa, že cesta k súboru s premennými je správna

.commentCard {
  margin-bottom: 1rem;
  background-color: $background-color;
  border-color: $light-primary;
}

.commentAuthor {
  color: $primary-color;
}

.commentContent {
  color: $text-color;
}

.commentCreatedAt {
  color: $tertiary-color;
  font-size: 0.875rem; // Menšia veľkosť pre dátum
  text-align: right;
}
