@import "../../../theme.scss"; // Uistite sa, že cesta k súboru s premennými je správna

.commentCard {
  margin-bottom: 1rem;
  background-color: $background-color;
  border-color: $light-primary;
}

.cardBody {
  display: flex;

  align-items: center;
}

.imageWrapper {
  flex-shrink: 0; // Zabezpečí, že obrázok si zachová svoje rozmery
  max-width: 100px; // Nastavenie šírky obrázka
  max-height: 100px; // Nastavenie výšky obrázka
  border-radius: 50%; // Vytvorí kruhový obrázok
  overflow: hidden; // Zabránenie presahovaniu obrázka mimo kruhový obrys
  margin-right: 15px; // Medzera medzi obrázkom a textom
}

.commentImage {
  width: 100%;
  height: auto;
}

.textWrapper {
  flex-grow: 1; // Zabezpečí, že text zaujme zvyšok priestoru v karte
}

.commentAuthor {
  color: $primary-color;
}

.commentContent {
  color: $text-color;
}

.commentCreatedAt {
  color: $accent-color;
  font-size: 0.875rem; // Menšia veľkosť pre dátum
  text-align: right;
}

.commentTextarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid $light-primary;
  border-radius: 4px;
  font-size: 1rem;
  color: $text-color;
  background-color: $background-color;
  resize: none;
}
