.blogHeader {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

.description {
  font-size: 1rem; /* Menšia veľkosť písma pre popisok */
  color: #666;
  margin-bottom: 10px; /* Odsadenie popisku pod titulkom */
}

.author {
  font-size: 1rem;
  color: #666;
  font-style: italic;
}

.imageCol {
  text-align: center;
}

.blogImage {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
