.blogHeader {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center; // Zarovnanie obsahu stĺpcov vertikálne na stred
}

.title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

.author {
  font-size: 1rem;
  color: #666;
  font-style: italic;
}

.imageCol {
  display: flex;
  justify-content: center; // Centrování obrázku v jeho stĺpci
  align-items: center;
}

.blogImage {
  max-width: 100%; // Zabezpečenie, že obrázok nebude širší ako jeho kontajner
  max-height: 200px; // Obmedzenie maximálnej výšky obrázku
  object-fit: cover; // Zabezpečenie, že obrázok pokryje dostupný priestor bez deformácie
  border-radius: 8px; // Pridanie zaoblených rohov k obrázku, ak je to žiaduce
}
