.benefitsCard {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;

  &:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-3px);
  }

  &ImgTop {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 120px;
    object-fit: cover;
  }

  &Title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    cursor: default;
  }

  &Text {
    font-size: 1rem;
    color: #777;
    cursor: default;
  }
}
