.heroSection {
  height: 70vh;

  > h1 {
    color: #2c3e50;
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 15px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    text-align: center;

    @media (max-width: 992px) {
      font-size: 3rem;
    }

    @media (max-width: 576px) {
      font-size: 2.5rem;
    }
  }

  > p {
    color: #b0c1d4;
    font-size: 1.5rem;
    width: 60%;
    text-align: center;
    text-shadow: 1px -1px rgba(0, 0, 0, 0.5);
  }

  &Container {
    background-image: url("../../../../public/heroBackground.png");
    background-size: cover;
    background-position: center;
  }
}
