.ctaContainer {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;

  &Header {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
  }

  &Text {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    color: #555;
  }
}
