@import "../../theme.module.css";
/* Footer.module.css */
footer {
    background-color: var(--primary-color); 
    color: var(--secondary-color); 
}

footer h5 {
    color: var(--secondary-color); 
}

footer p {
    color: var(--secondary-color);
}

footer a {
    color: var(--accent-color); 
    transition: color 0.3s ease; 
}

footer a:hover {
    color: var(--tertiary-color); 
}


