.home-logo {
  border-radius: 10px; /* Alebo akúkoľvek inú hodnotu podľa vašich preferencií */
  height: 60px;
}

/* Štýly pre hero sekciu */
.hero-section-home-page {
  height: 70vh;
  background-color: #1e2a38; /* Tmavomodrá farba na základe screenshotu */
  background-image: url("../public/heroBackground.png");
  background-size: cover;
  background-position: center;
}

/* Štýly pre nadpis */
.hero-section-home-page h1 {
  color: #2c3e50;
  font-size: 3.5rem; /* Veľkosť písma na základe screenshotu */
  font-weight: bold;
  margin-bottom: 15px; /* Medzera medzi nadpisom a podnadpisom */
}

/* Štýly pre podnadpis */
.hero-section-home-page p {
  color: #b0c1d4; /* Svetlomodrá farba na základe screenshotu */
  font-size: 1.5rem; /* Veľkosť písma na základe screenshotu */
  width: 60%; /* Užší textový blok */
  margin: 0 auto 30px; /* Centruje text a pridáva medzeru medzi textom a tlačidlom */
  text-align: center;
}

.hero-section-home-page .btn:hover {
  background-color: #d66347; /* Trochu tmavšia oranžová farba pri prejdení myšou */
}

/* Prednastavená veľkosť písma pre väčšie zariadenia */
.hero-section-home-page h1 {
  font-size: 3.5rem;
}

/* Menšia veľkosť písma pre tablety */
@media (max-width: 992px) {
  .hero-section-home-page h1 {
    font-size: 3rem;
  }
}

/* Ešte menšia veľkosť písma pre mobilné zariadenia */
@media (max-width: 576px) {
  .hero-section-home-page h1 {
    font-size: 2.5rem;
  }
}

body {
  background-color: #f4f4f4; /* Mierne sivá farba */
}

/* Štýl pre karty výhod */
.benefits-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.benefits-card:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-3px);
}

.benefits-card .card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 120px;
  object-fit: cover;
}

.benefits-card .card-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.benefits-card .card-text {
  font-size: 1rem;
  color: #777;
}

/* Štýl pre karty článkov */
.article-card {
  border: none; /* Odstrániť prednastavený rámček */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.article-card:hover {
  transform: scale(1.03);
}

/* Obrázok karty */
.article-card .card-img-top {
  width: 100%;
  height: 200px; /* Môžete upraviť výšku podľa potreby */
  object-fit: cover;
}

/* Štýl pre nadpis a text karty */
.article-card .card-title {
  font-size: 18px;
  font-weight: 600;
}

.article-card .card-text {
  font-size: 14px;
  color: #666;
}

/* Štýl pre dátum publikácie */
.article-card .text-muted {
  font-size: 12px;
  color: #999;
}

.cta-container {
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Polopriehľadné biele pozadie pre kontajner */
  padding: 50px; /* Vnútorný odsadenie kontajnera */
  border-radius: 10px; /* Zaoblené rohy */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Mierne tiene */
}

.cta-container h2 {
  font-size: 2rem; /* Veľkosť písma pre nadpis */
  margin-bottom: 1rem; /* Medzera medzi nadpisom a textom */
  color: #333; /* Farba nadpisu */
}

.cta-container p {
  font-size: 1.25rem; /* Veľkosť písma pre text */
  margin-bottom: 2rem; /* Medzera medzi textom a tlačidlom */
  color: #555; /* Farba textu */
}

.cta-container .btn-primary {
  background-color: #2c3e50; /* Tmavosivá farba pozadia */
  border-color: #2c3e50; /* Tmavosivá farba rámčeka */
  color: #fff; /* Biela farba textu */
}

.cta-container .btn-primary:hover,
.cta-container .btn-primary:focus {
  background-color: #1a2836; /* Trochu tmavšia tmavosivá pre hover/focus stav */
  border-color: #1a2836;
  color: #fff; /* Biela farba textu pre hover/focus stav */
}

.articles-section {
  margin-bottom: 40px; /* Medzera medzi rôznymi časťami obsahu */
}

.articles-section h2 {
  font-size: 1.8rem; /* Veľkosť písma pre nadpis */
  color: #333; /* Farba nadpisu */
}

.articles-section .btn-outline-primary {
  border-color: #2c3e50; /* Tmavosivá farba rámčeka */
  color: #2c3e50; /* Tmavosivá farba textu */
}

.articles-section .btn-outline-primary:hover,
.articles-section .btn-outline-primary:focus {
  background-color: #2c3e50; /* Tmavosivá farba pozadia pre hover/focus stav */
  color: #fff; /* Biela farba textu pre hover/focus stav */
}

/* Špecifická className pre komponent Header */
.header-component {
  background-color: #2c3e50; /* Tmavá modrá farba hlavičky */
  border-bottom: 2px solid #34495e; /* Tenká čiara na spodnej časti hlavičky */
  position: sticky;
  top: 0;
  z-index: 99;
}

.header-component .navbar-brand,
.header-component .nav-link {
  color: #eaeded; /* Svetlá farba textu odkazov v hlavičke */
  font-weight: 500; /* Stredná hrúbka písma */
}

.header-component .navbar-brand:hover,
.header-component .nav-link:hover {
  color: #bdc3c7; /* Svetlošedá farba textu odkazov pri hover efekte */
  text-decoration: underline; /* Podčiarknutie odkazu pri hover efekte */
}

.header-component .btn-outline-primary {
  border-color: #eaeded; /* Svetlošedá farba rámčeka tlačidla */
  color: #eaeded; /* Svetlošedá farba textu tlačidla */
}

.header-component .btn-outline-primary:hover,
.header-component .btn-outline-primary:focus {
  background-color: #eaeded; /* Svetlošedá farba pozadia tlačidla pri hover/focus efekte */
  color: #2c3e50; /* Tmavá modrá farba textu tlačidla pri hover/focus efekte */
}

.start-writing-button {
  background-color: #e76f51; /* Oranžová farba tlačidla na základe screenshotu */
  color: white;
  font-size: 1.2rem;
  padding: 10px 30px; /* Tlčší padding pre väčšie tlačidlo */
  border: none;
  border-radius: 30px; /* Zaoblené rohy */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Prechodový efekt na hover */
}

/* Mobilné zariadenia - bočný panel je na vrchu */
.sidebar {
  order: -1;
}

/* Stolné a tabletové zariadenia - bočný panel je vľavo */
@media (min-width: 992px) {
  .sidebar {
    order: 0;
  }
}

.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../public/heroBackground.png");
  background-size: cover;
  background-position: center;
}

.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../public/heroBackground.png");
  background-size: cover;
  background-position: center;
}

.combined-form {
  width: 350px; /* Šírka formulára */
  padding: 30px; /* Odsadenie vnútra */
  background-color: rgba(
    28,
    38,
    56,
    0.9
  ); /* Tmavé, mierne priehľadné pozadie */
  border-radius: 10px; /* Zaoblené rohy */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Tmieň okolo formulára */
}

.combined-form h1,
.combined-form label,
.combined-form .additional-actions a {
  color: #ffffff; /* Biele písmo */
}

.combined-form .btn-primary {
  background-color: #e76f51; /* Zlatá farba tlačidla */
  border-color: #e76f51; /* Zlatá farba rámčeka tlačidla */
}

.combined-form .btn-primary:hover,
.combined-form .btn-primary:focus {
  background-color: #d66347; /* Trochu tmavšia zlatá pre hover/focus stav */
  border-color: #d66347;
}

.additional-actions {
  display: flex; /* Aplikujeme flexbox na kontajner */
  justify-content: space-between; /* Odsadenie medzi odkazmi */
  margin-top: 15px; /* Odsadenie od spodnej časti prihlasovacieho tlačidla alebo nejakého iného prvku */
  flex-wrap: wrap; /* Odkazy sa budú zalamovať na viacero riadkov */
}

.additional-actions a {
  margin: 0 10px; /* Odsadenie po stranách pre každý odkaz */
  white-space: nowrap; /* Odkazy sa nebudú zalamovať */
}

.additional-actions a:hover {
  text-decoration: underline; /* Podčiarknutie odkazu pri hover efekte */
}
