@import "theme";
// Globálne štýly
body {
  font-family: $primary-font;
  font-size: $base-font-size;
  color: $text-color;
  background-color: $background-color;
}

// Štýly pre nadpisy
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: $heading-font-size;
  color: $primary-color;
}

// Štýly pre odkazy
a {
  text-decoration: none;
}

// Štýly pre základné elementy layoutu
html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
  margin-top: 50px;
}
